{
	"parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "class-methods-use-this": 0,
    "no-underscore-dangle": 0,
  },
  "env": {
    "jest/globals": true
  }
}